/* scss styles for Literacy Partners */
/* variables */
/* global styles */
body {
  background: #000; }

.off-canvas-content {
  background: #000; }

section {
  max-width: 1500px;
  margin: 0 auto; }

.row {
  max-width: 1150px; }

.flex-video {
  height: auto; }

img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

img.alignleft {
  float: left;
  margin: 1em 1em 1em 0;
  clear: both; }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* fonts */
@font-face {
  font-family: 'mission_gothicbold';
  src: url("../fonts/mission_gothic_bold-webfont.woff2") format("woff2"), url("../fonts/mission_gothic_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* Header */
header.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  z-index: 2;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  box-shadow: 0 4px 2px -2px rgba(25, 16, 94, 0.08); }
  header.header #menu-main-1 {
    display: none; }
  header.header .menu > li {
    padding-top: 9px;
    padding-right: 2.2rem;
    padding-left: 1.5rem; }
  header.header .menu > li.logo {
    padding-left: 0;
    padding-right: 0; }
    header.header .menu > li.logo a {
      padding-right: 0; }
  header.header .menu-icon:after {
    height: 3px;
    background: #19105e;
    box-shadow: 0 7px 0 #19105e, 0 14px 0 #19105e; }
  header.header .top-bar-right.show-for-small-only ul.menu li {
    padding-top: 15px;
    padding-right: 20px; }
  header.header .menu > li > ul > li {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0; }
  header.header .menu .active > a {
    background: transparent;
    border-bottom: 2px solid #19105e !important; }
  header.header .dropdown.menu .submenu .active a {
    border-bottom: 0 !important; }
  header.header .dropdown.menu.medium-horizontal > li.menu-item-5344.active > a {
    border-bottom: 0 !important; }
  header.header .top-bar {
    background: transparent;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0; }
    header.header .top-bar .top-bar-left .logo img {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    header.header .top-bar .top-bar-right {
      padding-top: 20px; }
    header.header .top-bar ul {
      background: transparent; }
  header.header ul.menu img {
    width: 50%;
    height: auto; }
  header.header .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
    font-family: 'mission_gothicbold';
    text-transform: uppercase;
    color: #19105e;
    font-size: 19px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0;
    border-bottom: 2px solid transparent; }
  header.header .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a:hover {
    border-bottom: 2px solid #ff15b1; }
  header.header .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a:after {
    border-color: #19105e transparent transparent;
    right: -13px; }
  header.header .dropdown.menu.medium-horizontal > li.menu-item-5344 > a {
    font-family: 'mission_gothicbold';
    text-transform: uppercase;
    color: #fff;
    background: #ff15b1;
    border-radius: 5px;
    font-size: 19px;
    padding: 6px 25px; }
  header.header .dropdown.menu.medium-horizontal > li.menu-item-5341.opens-left > .is-dropdown-submenu {
    background: rgba(25, 16, 94, 0.8);
    background-image: url("../images/nav-connector.png");
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 80%;
    border: 0;
    text-align: right;
    padding: 30px 30px 10px 30px;
    top: 80px; }
  header.header .dropdown.menu.medium-horizontal > li.menu-item-5342.opens-left > .is-dropdown-submenu {
    background: rgba(3, 200, 191, 0.8);
    background-image: url("../images/nav-connector.png");
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 80%;
    border: 0;
    text-align: right;
    padding: 30px 30px 10px 30px;
    top: 80px; }
  header.header .dropdown.menu.medium-horizontal > li.menu-item-5343.opens-left > .is-dropdown-submenu {
    background: rgba(255, 93, 0, 0.8);
    background-image: url("../images/nav-connector.png");
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 80%;
    border: 0;
    text-align: right;
    padding: 30px 30px 10px 30px;
    top: 80px; }
  header.header .dropdown.menu.medium-horizontal > li.menu-item-4809.opens-left > .is-dropdown-submenu {
    background: rgba(255, 7, 181, 0.8);
    background-image: url("../images/nav-connector.png");
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 80%;
    border: 0;
    text-align: right;
    padding: 30px 30px 10px 30px;
    top: 80px; }
  header.header .dropdown.menu .submenu a {
    font-family: 'mission_gothicbold';
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    padding: 10px 0; }
  header.header .dropdown.menu .submenu a:hover {
    color: #ff15b1; }
  header.header .dropdown.menu .menu-item-5343 .submenu a:hover {
    color: #000; }
  header.header .dropdown.menu li.menu-item-4809 .submenu a:hover {
    color: #19105e; }
  header.header .dropdown.menu.vertical > li.opens-left .is-dropdown-submenu ul {
    background-image: url("../images/nav-connector.png");
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 80%;
    border: 0;
    text-align: left;
    padding: 30px 30px 10px 30px;
    background: #19105e; }
  header.header .is-dropdown-submenu .is-dropdown-submenu-parent > a:after {
    left: 0;
    margin-top: -6px;
    vorder-color: transparent #19105e transparent transparent; }
  header.header header.header .dropdown.menu .submenu .submenu {
    padding-right: 20px; }

header.smaller {
  height: 75px;
  background: #fff; }
  header.smaller .top-bar .top-bar-right {
    padding-top: 22px; }
  header.smaller ul.menu img {
    width: 40%; }
  header.smaller .menu > li {
    padding-top: 4px; }
  header.smaller .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
    padding-top: 0; }
  header.smaller .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a:after {
    margin-top: -3px; }
  header.smaller .dropdown.menu.medium-horizontal > li.opens-left > .is-dropdown-submenu {
    top: 53px; }
  header.smaller .dropdown.menu.medium-horizontal > li.menu-item-5344 > a {
    margin-top: -5px; }
  header.smaller .top-bar-right.show-for-small-only ul.menu li {
    padding-top: 0; }

/* Homepage */

#homepage-carousel .slide-holder {
  position: relative;}
  #homepage-carousel .slide-holder .slide-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(25, 16, 94, 0.7);
    padding: 20px 0; }
    #homepage-carousel .slide-holder .slide-box h1 {
      font-family: 'mission_gothicbold';
      font-size: 45px;
      color: #fff;
      text-transform: uppercase;
      background: url(../images/slide-connector.png) no-repeat bottom left;
      background-size: 100%;
      padding-bottom: 18px;
      padding-left: 20px;
      margin-bottom: 0; }
    #homepage-carousel .slide-holder .slide-box li {
      color: #fff;
      padding-left: 20px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 15px;
      vertical-align: top;
      width: 70%; }
    #homepage-carousel .slide-holder .slide-box li.two {
      padding: 0;
      vertical-align: top;
      text-align: right;
      width: 30%; }
    #homepage-carousel .slide-holder .slide-box li a {
      font-family: 'mission_gothicbold';
      color: #fff;
      text-transform: uppercase; }
    #homepage-carousel .slide-holder .slide-box li a:hover {
      text-decoration: underline; }
#homepage-carousel .inner-box {
  padding: 0 100px; }
#homepage-carousel .owl-nav {
  position: absolute;
  bottom: 13%;
  width: 100%;
  max-width: 1120px;
  padding-left: .9375rem;
  padding-right: .9375rem; }
#homepage-carousel .owl-carousel .owl-controls .owl-nav .owl-prev {
  background: url(../images/slide-back.png) no-repeat;
  height: 24px;
  width: 14px;
  display: inline-block; }
#homepage-carousel .owl-carousel .owl-controls .owl-nav .owl-next {
  background: url(../images/slide-fwd.png) no-repeat;
  height: 24px;
  width: 14px;
  display: inline-block;
  position: absolute;
  right: 0; }

#homepage-boxes {
  padding: 50px 0;
  background: #fff; }
  #homepage-boxes .box.box-0:hover .inner-box {
    background: rgba(24, 149, 144, 0.8); }
  #homepage-boxes .box.box-1:hover .inner-box {
    background: rgba(196, 33, 147, 0.8); }
  #homepage-boxes .box.box-2:hover .inner-box {
    background: rgba(255, 124, 56, 0.8); }
  #homepage-boxes .box {
    position: relative;
    border-radius: 5px;
    max-width: 338px; }
    #homepage-boxes .box .inner-box {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(25, 16, 94, 0.7);
      padding: 10px 0;
      margin: 0;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px; }
      #homepage-boxes .box .inner-box h2 {
        font-family: 'mission_gothicbold';
        color: #fff;
        text-transform: uppercase;
        font-size: 38px;
        text-align: center;
        margin: 0; }

#quote-one .image-holder {
  position: relative; }
  #quote-one .image-holder img {
    width: 100%; }
  #quote-one .image-holder .image-text {
    position: absolute;
    bottom: 23%;
    text-align: center;
    width: 100%; }
    #quote-one .image-holder .image-text p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      color: #19105e;
      font-size: 25px;
      line-height: 35px;
      width: 70%;
      margin: 0 auto; }
    #quote-one .image-holder .image-text img {
      width: 2%;
      height: auto;
      margin-bottom: 20px; }

.page-id-36 #content .gform_wrapper textarea.medium {
  width: 47.5%; }

.page-id-36 #content .gform_wrapper .gform_footer input.button, .page-id-315 #content .button {
  font-family: 'mission_gothicbold';
  text-transform: uppercase;
  color: #fff;
  background: #ff15b1;
  border-radius: 5px;
  font-size: 19px;
  padding: 6px 25px; }

.page-id-4815 #content img.alignleft {
  margin-top: 0; }

#video-section {
  padding: 50px 0;
  background: #fff; }
  #video-section .video-blurb {
    /* padding-top: 25%; */ }
  #video-section h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #19105e;
    text-align: center;
    line-height: 30px; }
  #video-section p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 17px; }
  #video-section a {
    font-family: 'mission_gothicbold';
    font-size: 16px;
    color: #19105e;
    text-transform: uppercase;
    text-align: center; }

#sponsors-slider {
  background: #f5f7fb;
  text-align: center;
  padding: 25px 0 40px 0; }
  #sponsors-slider h3 {
    font-family: 'mission_gothicbold';
    font-size: 19px;
    color: #87869f;
    text-transform: uppercase;
    padding-bottom: 30px; }
  #sponsors-slider .owl-carousel .owl-wrapper {
    display: table !important; }
  #sponsors-slider .owl-carousel .owl-item {
    display: table-cell;
    float: none !important;
    vertical-align: middle; }
  #sponsors-slider .owl-carousel .owl-item img {
    width: 50%;
    height: auto; }
  #sponsors-slider .owl-carousel .owl-nav {
    position: absolute;
    bottom: 90%;
    width: 100%; }
  #sponsors-slider .owl-carousel .owl-stage-outer {
    padding-left: 4%; }
  #sponsors-slider .owl-carousel .owl-controls .owl-nav .owl-prev {
    background: url(../images/sponsor-back.png) no-repeat 0 0;
    width: 14px;
    height: 25px;
    position: absolute;
    left: 0; }
  #sponsors-slider .owl-carousel .owl-controls .owl-nav .owl-next {
    background: url(../images/sponsor-fwd.png) no-repeat 0 0;
    width: 14px;
    height: 25px;
    position: absolute;
    right: 0; }

#quote-two .image-holder {
  position: relative; }
  #quote-two .image-holder img {
    width: 100%; }
  #quote-two .image-holder .image-text {
    position: absolute;
    bottom: 10%;
    right: 0;
    width: 100%; }
  #quote-two .image-holder .quote-box {
    width: 40%;
    float: left;
    background: url(../images/quote.png) no-repeat 0 0;
    background-size: 5%;
    padding-left: 50px; }
    #quote-two .image-holder .quote-box p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      color: #19105e;
      font-size: 20px;
      line-height: 30px; }
    #quote-two .image-holder .quote-box p.credit {
      font-size: 12px;
      line-height: 10px; }
    #quote-two .image-holder .quote-box p.student {
      font-family: 'mission_gothicbold';
      font-size: 18px;
      text-transform: uppercase;
      color: #8cb5c2; }

#news-twitter {
  background: #fff;
  padding-bottom: 50px;
   /* .news-holder.news-0:hover {
        h3 {
            color: #1bcfc9;
        }

        p {
            color: #1bcfc9;
        }
        img {
            opacity: .5;
        }
    }*/
   /* .news-holder.news-1:hover {
        h3 {
            color: #ff15b1;
        }

        p {
            color: #ff15b1;
        }
        img {
            opacity: .5;
        }
    } */
   /* .news-holder.news-2:hover {
        h3 {
            color: #ff6e2a;
        }

        p {
            color: #ff6e2a;
        }
        img {
            opacity: .5;
        }
    } */ }
  #news-twitter .news-holder {
    overflow: hidden; }
    #news-twitter .news-holder h3 {
      font-family: 'mission_gothicbold';
      font-size: 27px;
      color: #19105e;
      text-transform: uppercase; }
    #news-twitter .news-holder p {
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      color: #19105e; }
  #news-twitter .news-holder .image-holder {
    margin-bottom: 20px;
    max-width: 338px;
    border: .5px solid #DDD;}
  #news-twitter .news-holder .image-holder img {
    max-height: 224px;
    width: 336px;}
  #news-twitter .large-5 {
    clear: both; }
  #news-twitter .gform_wrapper form {
    border-top: 1px solid #eee;
    padding-top: 20px; }
  #news-twitter .gform_wrapper .left_label .gfield_label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: #0b2645;
    float: none;
    width: 100%; }
  #news-twitter .gform_wrapper .left_label input.medium {
    background: #f5f7fb;
    box-shadow: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 205px !important;
    height: 40px;
    padding-left: 10px; }
  #news-twitter .button {
    font-family: 'mission_gothicbold';
    font-size: 23px;
    height: 40px;
    background: #1bcfc9;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    line-height: 4px;
    float: right;
    margin: -73px 30px 0 0; }
  #news-twitter ::-webkit-input-placeholder {
    color: #615f89;
    font-style: italic; }
  #news-twitter :-moz-placeholder {
    /* Firefox 18- */
    color: #615f89;
    font-style: italic; }
  #news-twitter ::-moz-placeholder {
    /* Firefox 19+ */
    color: #615f89;
    font-style: italic; }
  #news-twitter :-ms-input-placeholder {
    color: #615f89;
    font-style: italic; }

/* Internal Page */
.hero-image {
  position: relative;
  text-align: center;
  padding-top: 100px;
  background-color: #fff; }
  .hero-image .hero-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left; }
    .hero-image .hero-text h1 {
      font-family: 'mission_gothicbold';
      color: #fff;
      font-size: 45px;
      text-transform: uppercase; }

.entry-content h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #19105e;
  font-size: 26px; }
.entry-content h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #19105e;
  font-size: 21px;
  padding-bottom: 70px;
  width: 85%; }
.entry-content h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #19105e;
  font-size: 20px;
  margin-bottom: 15px; }
.entry-content p, .entry-content li {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #19105e;
  margin-bottom: 30px; }
.entry-content li {
  margin-bottom: 10px; }
.entry-content a {
  color: #ff15b1; }

#inner-content {
  padding-bottom: 60px; }
  #inner-content .intro p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #19105e;
    margin-bottom: 50px; }
  #inner-content .bio-box {
    overflow: hidden;
    margin-bottom: 25px; }
  #inner-content .image-column {
    clear: both;
    padding-left: 0; }
  #inner-content .partner-img {
    padding-left: 0; }
    #inner-content .partner-img img {
      border-radius: 10px;
      border: 1px solid #eee;
      padding: 10px;
      width: 100%; }
  #inner-content .text-column h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #19105e;
    font-size: 20px;
    margin-bottom: 15px; }
  #inner-content .text-column p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #19105e;
    margin-bottom: 30px; }
  #inner-content .text-column a {
    color: #ff15b1; }

#content {
  padding-top: 55px;
  background: #fff; }

#content.no-image {
  padding-top: 120px; }

#sidebar1 {
  padding-left: 0; }
  #sidebar1 #search-4, #sidebar1 #text-7, #sidebar1 #text-20, #sidebar1 .latest-tweets {
    display: none; }
  #sidebar1 .twitter-side {
    margin-top: 25px; }
  #sidebar1 h4.widgettitle {
    display: none; }
  #sidebar1 #menu-main-2 li {
    display: block;
    text-align: right; }
  #sidebar1 #menu-main-2 ul.sub-menu li a::after {
    content: " - "; }
  #sidebar1 #menu-main-2 a {
    font-family: 'mission_gothicbold';
    text-transform: uppercase;
    font-size: 17px;
    color: #19105e;
    padding: 6px 0; }
  #sidebar1 #menu-main-2 .active > a {
    background: transparent;
    color: #ff15b1; }

/* Connector Bar */

.connector-bar-top {
  border-top: 1px solid #8c8c8c;
}

.connector-bar-bottom {
  border-bottom: 1px solid #8c8c8c;
}

.connector-sidebar {
  height: 20px;
  width: 1px;
  background-color: #8c8c8c;
  position: absolute;
}

.connector-sidebar-top-left {
  left: 0;
  top: -20px;
}

.connector-sidebar-top-right {
  right: 0;
  top: 0;
}

.connector-sidebar-bottom-left {
  left: 0;
  bottom: 0;
}

.connector-sidebar-bottom-right {
  right: 0;
  bottom: -20px;
}


/* Blog Page Styling */

#blog-stream .blog-stream-post {
  padding: 30px;
  display: inline-block;
  position: relative;
}

#blog-stream .post-thumbnail {
  float: left;
  margin-right: 2.25em;
}

#blog-stream .post-thumbnail img {
  width: 475px;
  height: 260px;
}

#blog-stream .post-details {
  overflow: hidden;
}

#blog-stream .post-title {
  margin-bottom: 10px;
  line-height: 1.05;
}

#blog-stream .post-title a {
  font-weight: 600;
  font-size: 2.28em;
  color: #333;
}

#blog-stream .post-title a:hover {
  color: #ff15b1;
}

#blog-stream .post-date {
  color: #8c8c8c;
  font-size: 15px;
}

#blog-stream .excerpt-read-more {
  color: #ff15b1;
}

/* Blog Post styling */

.post {
  margin-top: 40px;
}

.post > *:not(.article-header) {
  padding: 0 30px;
}

.post .article-header > * {
  padding: 0 30px;
  color: #333;
}

.post .entry-title {
  position: relative;
}

.post .entry-content p {
  margin: 30px 0;
}

/* New gala styling */
.gala-body.post-content h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 40px 0 5px 0; }

#content-gala {
  padding-top: 100px;
  background: #fff; }

.page-template-page-gala-php .inner {
  width: 1150px;
  margin: 0 auto; }

.menu-holder {
  background: #f1f1f1;
  padding: 19px 0 13px 0;
  position: relative; }

.gala-header #logo {
  height: auto; }

.gala-header #logo img {
  width: 50%; }

#site-title.gala-logo {
  margin: 20px 0; }

.gala-header #primary-menu {
  width: 980px;
  margin: 0 auto;
  float: none; }

.gala-header #primary-menu ul li {
  display: inline-block;
  vertical-align: top; }

.gala-header #primary-menu li.menu-item-ancestor a, .gala-header #primary-menu ul a {
  color: #180f5e; }

.gala-header #primary-menu li.menu-item-ancestor a {
  background: url(images/menu-down.png/index.html) right center no-repeat;
  padding-left: 0; }

.gala-header #primary-menu li.menu-item-ancestor {
  padding-left: 15px; }

.gala-header #primary-menu ul li:last-child {
  width: 100px;
  padding-left: 15px; }

.gala-header #primary-menu ul li:first-child a {
  padding-left: 0; }

.gala-header #primary-menu ul li:last-child a {
  padding-left: 0; }

.gala-header #primary-menu ul ul li:last-child {
  width: auto !important;
  padding-left: 0 !important; }

.gala-header #primary-menu ul ul.sub-menu li a {
  color: #fff;
  background: none; }

.gala-header #primary-menu ul ul {
  border-left: 5px solid #e71e8c; }

.gala-header #primary-menu ul li:last-child {
  float: none; }

.gala-header .button.red {
  background: #e71e8c;
  border: 0;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.gala-header .button.red:hover {
  background: #c10783; }

.gala-header #donatebutton {
  margin-top: 42px; }

#page-caption.gala-caption .inner-padding {
  padding: 0; }

#page-caption.gala-caption {
  background: #180f5e;
  padding: 20px 0;
  border-bottom: 5px solid #ddd;
  border-top: 5px solid #ddd;
  color: #999; }

#content-gala {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #0b2645; }
  #main.gala-main [type=color], #main.gala-main [type=date], #main.gala-main [type=datetime-local], #main.gala-main [type=datetime], #main.gala-main [type=email], #main.gala-main [type=month], #main.gala-main [type=number], #main.gala-main [type=password], #main.gala-main [type=search], #main.gala-main [type=tel], #main.gala-main [type=text], #main.gala-main [type=time], #main.gala-main [type=url], #main.gala-main [type=week], #main.gala-main textarea {
    width: 100%; }
  #main.gala-main select {
    width: 100px;
    background-color: #f5f7fb;
    border: 1px solid #dbd9ea;
    border-radius: 6px;
    box-shadow: none; }

#content-gala .gfield .address_country select {
  width: 100%; }

#content-gala .gfield:not(.gsection):not([class*="half-"]) {
  width: 70%; }

#content-gala .gfield[class*="half-"] {
  width: 35%; }

#content-gala .ginput_container_total {
  display: inline-block;
  margin-left: 5px; }

#content-gala .gform_footer {
  margin: 0; }

#content-gala .gform_footer input.button {
  background-color: #ff15b1;
  color: white;
  font-size: 20px;
  border-radius: 5px; }

#content-gala .gfield_total label, #content-gala .gfield_price .ginput_container_total {
  font-size: 20px !important; }

#content-gala #content {
  background: #fff; }

#content-gala #content .inner-padding {
  padding: 0; }

#content-gala .upper-box {
  width: 30%;
  float: left;
  margin-right: 4%; }

#content-gala .upper-box:last-child {
  margin-right: 0; }

#content-gala .upper-img img {
  border-radius: 50%;
  height: 165px;
  width: 165px;
  border: 5px solid #c7c8ca;
  margin-top: 15px; }

#content-gala .box-three .upper-img img {
  width: 100px;
  height: 100px; }

#content-gala .box-three ul, #content-gala .box-two ul {
  margin: 0;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 15px;
  list-style-type: none; }

#content-gala .box-two ul.list-0 {
  border-bottom: 0; }

#content-gala .box-three ul:last-child {
  border-bottom: 0; }

#content-gala .box-three li {
  display: inline-block;
  vertical-align: middle; }

#content-gala .box-three .text-element {
  padding: 0;
  padding-left: 15px; }

#content-gala .upper-box p {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
  color: #180f5e; }

#content-gala .upper-box.box-two p, #content-gala .upper-box.box-three p {
  margin-top: 0;
  font-weight: normal; }

#content-gala .box-two .text-element {
  margin: 20px 0 5px 0; }

#content-gala .box-two ul {
  margin-bottom: 10px;
  border-bottom: 0; }

#content-gala .ginput_container_radio li label {
  font-size: 16px;
  padding: 10px;
  width: 40%; }

#content-gala .ginput_container_product_calculation {
  display: inline-block;
  margin-left: 5px; }

#content-gala span.ginput_product_price_label {
  display: none; }

#page-title {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  margin: 0; }

.upper-banner h2 {
  background: url(../images/gala-banner.png) no-repeat;
  background-position: center center;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 20px;
  line-height: 8px;
  font-size: 20px;
  margin: 40px 0 0 0; }

.upper-boxes {
  margin-top: 30px;
  margin-bottom: 40px;
  overflow: hidden; }

.upper-boxes h3 {
  color: #180f5e;
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: 4px solid #c7c8ca;
  font-weight: 900; }

.gala-reserve {
  width: 100%;
  background: #f1f1f1;
  height: 65px;
  text-align: center;
  margin-bottom: 60px;
  clear: both; }

.gala-reserve h3 a {
  text-align: center;
  color: #fff;
  background: #e71e8c;
  border-radius: 5px;
  padding: 10px 60px;
  font-size: 20px;
  position: relative;
  top: 6px;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.gala-reserve h3 a:hover {
  background: #c10783; }

.gala-carousel h3 {
  color: #180f5e;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900; }

.gala-carousel .flexslider {
  background: #f1f1f1 url(../images/icon-expand.png) no-repeat 905px 35px;
  border-top: 5px solid #c7c8ca; }

.gala-carousel .flexslider .slides img {
  width: auto;
  margin: 0 auto;
  margin-top: 28px;
  border: 5px solid #dddddd;
  border-radius: 5px;
  max-height: 400px; }

.gala-carousel .flexslider .slides p {
  text-align: center;
  color: #180f5e;
  font-weight: bold;
  font-size: 14px;
  margin-top: 18px; }

.gala-carousel .flex-control-thumbs {
  background: #f7f7f7;
  padding: 18px 0 20px 0;
  margin: 0 auto; }

.gala-carousel .flex-control-thumbs li {
  margin-right: 5px;
  float: none;
  width: auto; }

.gala-carousel .flex-control-thumbs img {
  width: 70px;
  border: 5px solid #dddddd;
  border-radius: 5px; }

.gala-carousel .flex-control-thumbs img:hover {
  border: 5px solid #e71e8c; }

.gala-carousel .flex-direction-nav a {
  top: 90%; }

.gala-carousel .flex-direction-nav a:before, .gala-press .flex-direction-nav a:before {
  display: none; }

.gala-carousel .flexslider:hover .flex-direction-nav .flex-prev, .gala-press .flexslider:hover .flex-direction-nav .flex-prev {
  background: url(../images/arrow-back.png) no-repeat;
  width: 23px;
  height: 27px; }

.gala-carousel .flexslider:hover .flex-direction-nav .flex-next, .gala-press .flexslider:hover .flex-direction-nav .flex-next {
  background: url(../images/arrow-fwd.png) no-repeat;
  width: 23px;
  height: 27px; }

.gala-body h2 {
  font-size: 30px;
  color: #180f5e;
  text-transform: uppercase;
  border-bottom: 5px solid #c7c8ca;
  padding-bottom: 10px;
  font-weight: 900; }

.gala-body.post-content h3 {
  color: #180f5e;
  font-weight: 700; }

.gala-body #Donation h2 {
  color: #180f5e;
  font-size: 18px;
  border-bottom: 0;
  font-weight: 700; }

.gala-body #Donation h3 {
  border-bottom: 0; }

.gala-body #Donation td {
  line-height: 0; }

.gala-body #Donation strong {
  line-height: 38px; }

.gala-submit {
  width: 100%;
  background: #f1f1f1;
  height: 65px;
  text-align: center;
  clear: both;
  margin-bottom: 50px; }

.gala-body .gala-privacy h4 {
  font-family: 'Ruda', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-top: 1px solid #c7c8ca;
  padding-top: 25px;
  margin-top: 40px;
  font-size: 18px;
  color: #787582; }

.gala-body #Donation td {
  vertical-align: middle; }

.gala-body .gala-privacy p {
  margin-bottom: 0; }

.gala-body .gala-privacy p, .gala-body .gala-privacy li, .gala-body .gala-privacy a {
  color: #525252; }

.gala-submit #submdonation {
  text-align: center;
  color: #fff;
  background: #e71e8c !important;
  border-radius: 5px;
  padding: 10px 60px;
  font-size: 16px;
  position: relative;
  top: 17px;
  border: 0 !important;
  line-height: 13px;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.lower-gala {
  color: #180f5e;
  font-style: italic; }

.post-content .lower-gala a {
  color: #e71e8c; }

.gala-press h3 {
  color: #180f5e;
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: 5px solid #c7c8ca;
  padding-bottom: 2px;
  margin-bottom: 40px;
  font-weight: 900; }

.gala-press .slider-area {
  margin: 0 auto; }

.gala-press #slider2 {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 75%; }

.gala-press #slider2 img {
  border: 5px solid #dddddd;
  border-radius: 5px;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

#slider2 img:hover {
  border: 5px solid #e71e8c; }

#slider2.owl-carousel .item {
  margin-right: 30px; }

#slider2.owl-carousel .owl-controls .owl-nav .owl-prev {
  position: absolute;
  left: -50px;
  bottom: 50%;
  background: url(../images/arrow-back.png) no-repeat;
  width: 23px;
  height: 27px; }

#slider2.owl-carousel .owl-controls .owl-nav .owl-next {
  position: absolute;
  right: -30px;
  bottom: 50%;
  background: url(../images/arrow-fwd.png) no-repeat;
  width: 23px;
  height: 27px; }

.gala-press .flexslider:hover .flex-direction-nav .flex-next {
  right: -50px; }

.gala-press .flexslider:hover .flex-direction-nav .flex-prev {
  left: -50px; }

/* Donate Page */
.page-template-page-donate footer .footer-two .button {
  margin-top: 23px;
}
.page-template-page-donate .gform_wrapper span.ginput_product_price_label {
  display: none;
}
.page-template-page-donate #field_3_29 {
  display: none;
}
.page-template-page-donate input#gform_submit_button_3 {
  box-shadow: none;
  border-radius: 5px;
  background: #f5f7fb;
  /*height: 50px;*/
  border: 1px solid #eeedf5;
}
.page-template-page-donate .gform_wrapper .gfield_required {
  display: none;
}
.page-template-page-donate .gform_wrapper ul li.gfield {
  margin-bottom: 0;
}
.page-template-page-donate #input_3_12_3_container label {
  display: none;
}
.page-template-page-donate #input_3_15_1_label {
  display: none;
}
.page-template-page-donate #input_3_16_3_container label {
  display: none;
}
.page-template-page-donate .custom-donation-amount {
  margin-bottom: 30px;
}
.page-template-page-donate .custom-donation-amount .ginput_container:before {
  content: '$';
  float: left;
  font-size: 24px;
  margin-right: 8px;
}
.page-template-page-donate .gform_wrapper ul.gfield_radio li, .page-template-page-donate .gform_wrapper ul#input_3_18 li {
  display: inline-block;
  padding-right: 20px !important;
}
.gform_wrapper ul.gform_fields ul.gfield_radio label, .gform_wrapper ul.gform_fields ul#input_3_18 label {
  font-size: 20px;
  padding: 20px;
  margin: 0;
  background-color: #f1f1f1;
  border-radius: 5px;
  max-width: initial;
}
.gform_wrapper ul.gform_fields ul.gfield_radio input[type=radio]:checked ~ label, .gform_wrapper ul.gform_fields ul#input_3_18 input[type=radio]:checked ~ label {
  background-color: #ff15b1;
  color: white;
}
.gform_wrapper ul.gform_fields ul.gfield_radio label:before, .gform_wrapper ul.gform_fields ul#input_3_18 label:before {
  display: none;
}
.page-template-page-donate #field_3_17 {
  margin: 15px 0 30px;
}
.page-template-page-donate #field_3_17 .gfield_label, .page-template-page-donate #field_3_31 .gfield_label {
  display: none;
}
.page-template-page-donate #field_3_28 label, .page-template-page-donate #field_3_28 .ginput_container_total {
  display: inline-block;
  font-size: 25px !important;
  color: #333;
  margin-right: 15px;
}
.page-template-page-donate .gsection_description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #0b2645;
}
.page-template-page-donate .gform_wrapper h2.gsection_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #29405c;
  background: #fff;
}
.page-template-page-donate .page-content h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #29405c;
  background: #fff;
}
.page-template-page-donate .page-content {
  font-family: 'Open Sans', sans-serif;
  color: #29405c;
}
.page-template-page-donate .gform_wrapper #field_3_24 h2.gsection_title {
  width: 48%;
}
.page-template-page-donate .gform_wrapper .gform_footer input.button#gform_submit_button_3 {
  display: inline-block;
  font-family: 'mission_gothicbold';
  text-transform: uppercase;
  color: #fff;
  background: #ff15b1;
  border-radius: 5px;
  font-size: 50px;
  padding: 13px 25px;
}
.page-template-page-donate .donate-footer-links {
  margin-top: 20px;
}
.page-template-page-donate .donate-footer-links li {
list-style:none;
margin:0px;
padding:0px;
display:inline;
}
.page-template-page-donate .donate-footer-links a {
  margin-right: 30px;
  font-size: 18px;
}
.page-template-page-donate .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
  box-shadow: none;
  border-radius: 5px;
  background-color: #f5f7fb;
  border: 1px solid #eeedf5;
}
.page-template-page-donate div.ginput_complex.ginput_container.gf_name_has_2 span {
  width: 49%;
  padding: 0;
}
.page-template-page-donate div.ginput_complex.ginput_container.gf_name_has_2 span.name_first {
  padding-right: 2%;
}
.page-template-page-donate .gform_wrapper.two-column_wrapper ul.one-half input {
  width: 100%;
  box-shadow: none;
  border-radius: 5px;
  background: #f5f7fb;
}
.page-template-page-donate .gform_wrapper .ginput_complex .ginput_full input[type=text] {
  width: 100% !important;
}

.page-template-page-donate .upper-box {
  padding-top: 120px;
  padding-bottom: 65px;
  background: #f5f7fb; }
  .page-template-page-donate .upper-box h1 {
    font-family: 'mission_gothicbold';
    color: #19105e;
    font-size: 45px;
    text-transform: uppercase;
    background: url(../images/donate-connector.png) no-repeat bottom left;
    background-size: 100%;
    padding-bottom: 30px; }
  .page-template-page-donate .upper-box h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #19105e; }
  .page-template-page-donate .upper-box p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #19105e;
    line-height: 25px;
    width: 80%; }

.page-template-page-donate #inner-content .content {
  color: #29405c;
}

.page-template-page-donate .donate-quotes {
  padding: 50px 0 50px 50px;
  font-size: 18px;
  color: #29405c;
}

.page-template-page-donate .hide-label .gfield_label {
  display: none !important;
}

.page-template-page-donate .gform_wrapper .top_label .gfield_price .gfield_label, .page-template-page-donate .gform_wrapper .top_label .gfield_price .ginput_container {
  font-size: 25px !important;
}

.page-template-page-donate .ginput_container_product_calculation, .page-template-page-donate .ginput_container_total {
  display: inline-block;
  margin-left: 10px;
}

.page-template-page-donate .gform_wrapper li.gfield.field_description_below + li.gsection {
  margin-top: 60px !important;
}

.page-template-page-donate .gform_confirmation_message {
  font-size: 20px;
  color: #29405c;
}

.page-template-page-donate .gform_confirmation_message h2 {
  font-size: 60px;
}

.gform_wrapper .field_sublabel_above .ginput_complex label, .gform_wrapper .top_label .gfield_label, .gform_wrapper .ginput_complex label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400 !important;
  color: #0b2645;
  font-size: 15px !important;}

.gform_wrapper.two-column_wrapper {
  max-width: 100%; }

.gform_wrapper.two-column_wrapper ul.gform_fields,
.gform_wrapper.two-column_wrapper ul.gform_column li.gsection:first-child {
  display: none; }

.gform_wrapper.two-column_wrapper ul.gform_fields.gform_column {
  display: block; }

.gform_wrapper.two-column_wrapper ul.one-half {
  margin-left: 6% !important;
  width: 47%;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 20px 30px;
  margin-bottom: 20px; }

.gform_wrapper .gfield_html {
  border: 0; }
  .gform_wrapper .gfield_html h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: #0b2645; }
  .gform_wrapper .gfield_html p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #0b2645; }
  .gform_wrapper .gfield_html a {
    color: #0ebdb7; }

.gform_wrapper.two-column_wrapper ul.one-half.first {
  margin-left: 0 !important; }

#input_3_2,
#input_3_4 {
  width: 100%; }

.gform_wrapper .gsection {
  border-bottom: none !important; }

.gform_wrapper .top_label li.gfield.gf_right_half + li.gsection {
  padding: 0 !important; }

/* 404 page */
.error404 h1 {
  padding-top: 50px; }
.error404 .search-form .button {
  font-family: 'mission_gothicbold';
  text-transform: uppercase;
  color: #fff;
  background: #ff15b1;
  border-radius: 5px;
  font-size: 19px;
  padding: 6px 25px; }

.search-results h1 {
  padding-top: 50px; }
.search-results .article-header a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #19105e;
  font-size: 20px; }

/* Marathon page */
.page-id-3767 #content {
  padding-top: 100px; }
  .page-id-3767 #content .entry-content h2 {
    padding-bottom: 0; }

.page-id-5082 #inner-content .gform_wrapper .left_label li.field_sublabel_below .gfield_label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 19px;
  color: #0b2645;
  float: none;
  width: 100%; }
.page-id-5082 #inner-content .gform_wrapper .left_label input.medium {
  background: #f5f7fb;
  box-shadow: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 272px !important;
  height: 40px;
  padding-left: 10px; }
.page-id-5082 #inner-content .gform_wrapper .gform_footer input.button {
  font-family: 'mission_gothicbold';
  font-size: 23px;
  height: 40px;
  background: #1bcfc9;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  line-height: 4px;
  float: left;
  margin: -73px 30px 0 0; }
.page-id-5082 #inner-content #gform_confirmation_message_2 {
  padding-bottom: 40px; }

footer {
  max-width: 1500px;
  margin: 0 auto; }
  footer #gform_confirmation_message_2 {
    color: #fff; }
  footer .footer-one {
    background: #19105e;
    padding: 15px 0; }
    footer .footer-one img.logo {
      width: 50%;
      height: auto;
      max-width: 131px; }
    footer .footer-one .menu {
      padding-top: 10px;
      float: right; }
      footer .footer-one .menu li {
        margin-right: 20px; }
      footer .footer-one .menu li:first-child {
        padding-right: 40px; }
      footer .footer-one .menu li:last-child {
        padding-left: 40px; }
        footer .footer-one .menu li:last-child a.button {
          padding: 5px 25px;
          background: #fff;
          color: #19105e;
          border-radius: 5px; }
    footer .footer-one a {
      font-family: 'mission_gothicbold';
      color: #fff;
      font-size: 18px;
      text-transform: uppercase; }
    footer .footer-one li.twitter {
      background: url(../images/footer-twitter.png) no-repeat 0 0;
      height: 40px;
      width: 45px;
      background-size: 40%;
      position: relative;
      top: 10px;
      padding-right: 30px; }
    footer .footer-one li.facebook {
      background: url(../images/footer-facebook.png) no-repeat 0 0;
      height: 40px;
      width: 45px;
      background-size: 40%;
      position: relative;
      top: 7px;
      padding-right: 30px; }
    footer .footer-one li.instagram {
      background: url(../images/footer-insta.png) no-repeat 0 0;
      height: 40px;
      width: 45px;
      background-size: 54%;
      position: relative;
      top: 7px; }
  footer .footer-two {
    background: #140c4f;
    padding: 25px 0; }
    footer .footer-two li.copyright {
      padding: .7rem 1rem .7rem 0;
      line-height: 1; }
    footer .footer-two li, footer .footer-two a, footer .footer-two p {
      font-family: 'mission_gothicbold';
      color: #fff;
      font-size: 13px;
      text-transform: uppercase; }
    footer .footer-two .gform_wrapper {
      margin: 0; }
    footer .footer-two #gform_2 > .gform_footer {
      display: inline-block;
      padding: 0.85em 0 0.625em;
      width: 20%; }
    footer .footer-two .gform_wrapper .gform_footer {
      float: right;
      margin: -71px -62px 0 0; }
    footer .footer-two #gform_2 .gform_body {
      display: inline-block;
      float: right;
      width: 77%; }
    footer .footer-two .gform_wrapper .left_label input.medium {
      background: #c8c8d9;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      height: 35px;
      width: 190px;
      margin: 0;
      padding-left: 15px; }
    footer .footer-two .gform_wrapper .left_label li.field_sublabel_below .gfield_label {
      font-family: 'mission_gothicbold';
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      width: 30%;
      padding-top: 7px;
      margin-right: 23px;
      margin-left: 30px; }
    footer .footer-two ::-webkit-input-placeholder {
      color: #615f89;
      font-style: italic; }
    footer .footer-two :-moz-placeholder {
      /* Firefox 18- */
      color: #615f89;
      font-style: italic; }
    footer .footer-two ::-moz-placeholder {
      /* Firefox 19+ */
      color: #615f89;
      font-style: italic; }
    footer .footer-two :-ms-input-placeholder {
      color: #615f89;
      font-style: italic; }
    footer .footer-two .button {
      font-family: 'mission_gothicbold';
      font-size: 18px;
      text-transform: uppercase;
      margin: 0;
      height: 35px;
      background: #fff;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #19105e;
      padding: 7px 12px;
      margin-top: 8px; }


footer .footer-logos {
	float:right;
	margin-top:10px;
}

footer .footer-logos img {
	height:50px;
	margin-left:20px;
}

footer .footer-logos img.guidestar {
	height:60px;
	margin-top:-2px;
}

.guidestar-page {
	height:90px;
	float:left;
	margin-right:20px;
	margin-top:20px;
}

.bbb-page {
	height:80px;
	float:left;
	margin-top:25px;
}

.off-canvas-wrapper {
  background: #19105e; }
  .off-canvas-wrapper .menu .active > a {
    background: #ff15b1; }

#inner-content a.scrolling {
  font-family: 'mission_gothicbold';
  text-transform: uppercase;
  color: #fff;
  background: #ff15b1;
  border-radius: 5px;
  font-size: 19px;
  padding: 6px 25px; }

#inner-content #scroller0.scroller {
  margin-top: 40px;
  border-top: 0; }

#inner-content.student-content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #19105e; }
#inner-content.student-content .content-box {
  padding-top: 120px;
  margin-top: -120px; }
#inner-content.student-content blockquote {
  border: 0;
  width: 50%;
  background: #eee;
  padding-bottom: .5625rem; }
  #inner-content.student-content blockquote p {
    font-family: 'mission_gothicbold';
    font-size: 20px;
    color: #19105e;
    padding: 6px 0;
    line-height: 25px;
    margin-bottom: 0; }
#inner-content.student-content h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #19105e;
  font-size: 20px;
  margin-bottom: 15px; }
#inner-content.student-content .scroller {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px; }

img.books-logo {
  width: 150px;
  padding-bottom: 20px; }

.page-id-4966 #main .button {
  font-family: 'mission_gothicbold';
  text-transform: uppercase;
  color: #fff;
  background: #ff15b1;
  border-radius: 5px;
  font-size: 19px;
  padding: 6px 25px; }

/* additional form code (arielle) */
.gform_wrapper ul.gform_fields li.gfield input[type=radio],
.gform_wrapper ul.gform_fields li.gfield input[type=checkbox] {
  position: absolute;
  visibility: hidden; }

.gform_wrapper ul.gform_fields ul.gfield_radio li label,
.gform_wrapper ul.gform_fields ul.gfield_checkbox li label {
  display: block;
  position: relative; }

.gform_wrapper ul.gform_fields ul.gfield_radio li label:before {
  content: url("../images/radio-off.png");
  width: 22px;
  height: 22px;
  position: relative;
  left: -9px;
  top: 5px; }

.gform_wrapper ul.gform_fields ul.gfield_checkbox li label:before {
  content: url("../images/check-off.png");
  width: 23px;
  height: 23px;
  position: relative;
  margin-right: 10px;
  top: 5px; }

.gform_wrapper ul.gform_fields ul.gfield_checkbox li label {
  color: #0b2645;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif; }

.gform_wrapper ul.gform_fields ul.gfield_radio li {
  padding-bottom: 3px !important; }

.gform_wrapper ul.gform_fields ul.gfield_radio li input[type=radio]:checked ~ label:before {
  content: url("../images/radio-on.png");
  width: 23px; }

.gform_wrapper ul.gform_fields ul.gfield_checkbox li input[type=checkbox]:checked ~ label:before {
  content: url("../images/check-onn.png"); }

.gform_wrapper ul.gform_fields ul.gfield_checkbox li input[type=checkbox]:checked ~ label {
  font-weight: 400; }

.gform_wrapper .gform_fields li.gfield.gfield_creditcard_warning div.gfield_creditcard_warning_message {
  background-color: FF5000;
  margin-bottom: 1em; }

.gform_wrapper .gform_fields li.gfield.gfield_creditcard_warning {
  border: 0; }

.page-template-page-donate .gform_wrapper.two-column_wrapper ul.one-half input {
  width: 100%; }

.page-template-page-donate .upper-box {
  padding-top: 120px;
  padding-bottom: 65px;
  background: #f5f7fb; }

.page-template-page-donate .upper-box h1 {
  font-family: 'mission_gothicbold';
  color: #19105e;
  font-size: 45px;
  text-transform: uppercase;
  background: url(../images/donate-connector.png) no-repeat bottom left;
  background-size: 100%;
  padding-bottom: 30px; }

.page-template-page-donate .upper-box h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #19105e; }

.page-template-page-donate .upper-box p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #19105e;
  line-height: 25px;
  width: 80%; }

.gform_wrapper .field_sublabel_above .ginput_complex label, .gform_wrapper .top_label .gfield_label, .gform_wrapper .ginput_complex label, .gform_wrapper .gfield_radio li label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400 !important;
  color: #0b2645;
  font-size: 15px;
  letter-spacing: 0; }

.page-template-page-donate .gform_wrapper .field_sublabel_above .ginput_complex label span {
  color: #ff15b1; }

.page-template-page-donate #field_3_1 label.gfield_label {
  display: none; }

.page-template-page-donate .gform_wrapper span.ginput_product_price {
  color:#060;
}

.gform_wrapper input[type=email], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper input[type=url] {
  background-color: #f5f7fb;
  border: 1px solid #dbd9ea;
  border-radius: 6px;
  box-shadow: none; }

body .gform_wrapper .gfield label.gfield_label + div.ginput_container {
  margin-top: 0; }

.gform_wrapper .half-left {
  width: 49%;
  display: inline-block;
  padding-right: 2%; }

.gform_wrapper .half-right {
  width: 50%;
  display: inline-block;
  padding-right: 1%; }

.gform_wrapper #field_3_6 input.medium {
  width: 100%; }

.gform_wrapper #input_3_2_container span label {
  font-size: 13px; }

.gform_wrapper #field_3_7 {
  margin: 0; }

.gform_wrapper #input_3_12_3 {
  margin-bottom: 0; }

.gform_wrapper #field_3_7 .ginput_container_address input[type=text],
.gform_wrapper .gform_fields li.gfield .ginput_container_creditcard input[type=text] {
  margin-bottom: 1em; }

.gform_wrapper #field_3_18 label, .gform_wrapper #field_3_18 .ginput_container_radio label {
  display: block; }

#main .gform_wrapper div.validation_error {
  color: #FF5000;
  border-color: #FF5000; }

.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio,
.gform_wrapper .validation_message, .gform_wrapper .gfield_error .gfield_label {
  color: #FF5000 !important;
  border-color: #FF5000 !important; }

.gform_wrapper li.gfield_error input[type=email], .gform_wrapper li.gfield_error input[type=number], .gform_wrapper li.gfield_error input[type=password], .gform_wrapper li.gfield_error input[type=tel], .gform_wrapper li.gfield_error input[type=text], .gform_wrapper li.gfield_error input[type=url], .gform_wrapper li.gfield_error textarea,
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  border-color: #1BCFC9 !important; }

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color: rgba(255, 80, 0, 0.12); }

.page-template-page-donate .gform_validation_error .column5 {
  margin-top: 20px !important; }

.page-template-page-donate .gform_wrapper.gform_validation_error .gform_footer input.button#gform_submit_button_3 {
  margin-top: 0; }

@media only screen and (max-width: 1075px) {
  .gform_wrapper.two-column_wrapper ul.one-half {
    width: 100%; }

  .gform_wrapper.two-column_wrapper ul.one-half {
    margin-left: 0 !important; }

  #gform_wrapper_3 li {
    margin-bottom: 10px; } }
/**BFC CREDITS **/
.footer-two .credit {
  /* margin-top: 20px;*/ }

.footer-two .credit img {
  position: relative;
  top: -8px;
  width: 45px;
  height: auto; }

.block {
  background: #ff15b1;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  clear: both;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #fff; }

.twit-mobile {
  display: none; }

/* Firefox rules */
@-moz-document url-prefix() {
  footer .footer-two .button {
    margin-top: 3.5px;
    margin-left: -1px; }

  .page-template-page-donate footer .footer-two .button {
    margin-top: 3.5px; } }
/* Media queries for gala page */
/* Responsive styling */
@media screen and (max-width: 990px) {
  .content-gala .layout-fullwidth .inner {
    width: 100%; } }
@media screen and (max-width: 980px) {
  #primary-menu ul li:last-child {
    width: auto;
    float: none; }

  .upper-banner h2 {
    background: #e71e8c;
    width: auto; } }
@media screen and (max-width: 900px) {
  .page-id-36 #content .gform_wrapper .top_label input.medium {
    width: 100%; }

  .page-id-36 #content .gform_wrapper textarea.medium {
    width: 100%; } }
@media screen and (max-width: 800px) {
  .gala-header #primary-menu {
    width: 100%; }

  #content-gala .upper-box {
    width: 100%; }

  #sponsors-slider .owl-carousel .owl-item img {
    margin: 0 auto; } }
@media screen and (max-width: 680px) {
  .upper-banner h2 {
    line-height: 30px; }

  .layout-fullwidth .gala-caption .inner {
    width: 100%; }

  .layout-fullwidth .gala-caption #page-title {
    text-align: center; }

  .gala-body #Donation td {
    line-height: 25px; }

  #BillingFirstName, #BillingLastName, #BillingPhone, #BillingEmail, #BillingAddress1, #BillingAddress2, #BillingAddress3, #BillingCity, #NameOnCard, #CardNumber {
    width: 85% !important; }

  header.header {
    height: 75px;
    background: #fff; }

  header.header ul.menu img {
    width: 40%; }

  header.header .menu > li {
    padding-top: 4px; }

  header.header .top-bar .top-bar-right {
    padding-top: 7px; }

  header.smaller .top-bar .top-bar-right {
    padding-top: 22px; }

  #homepage-carousel {
    margin-top: 75px;}

  .hero-image {
    padding-top: 76px; } }
@media screen and (max-width: 600px) {
  #slider2.owl-carousel .item {
    margin-right: 10px; }

  #slider2.owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 0;
    bottom: -50px; }

  #slider2.owl-carousel .owl-controls .owl-nav .owl-next {
    right: 0;
    bottom: -50px; } }
@media screen and (max-width: 400px) {
  .gala-header #logo {
    float: none;
    text-align: center;
    width: 100%;
    margin: 0; }

  .layout-fullwidth .gala-header .inner, .gala-header #slides.hide-slides .hentry, .layout-fullwidth .gala-content .inner, .gala-content #slides.hide-slides .hentry {
    width: 100%; } }
/* Media Queries */
@media only screen and (max-width: 1200px) {
  header.header .menu > li {
    padding-right: 1.6rem; }

  #quote-two .image-holder .image-text {
    background: #fff;
    width: 100%;
    opacity: 0.7; }

  #quote-two .image-holder .quote-box {
    width: 100%;
    padding: 40px 0; }

  .page-template-page-gala-php .inner {
    width: 100%; } }
@media only screen and (max-width: 1150px) {
  footer .footer-two .gform_wrapper .left_label li.field_sublabel_below .gfield_label {
    float: none;
    margin-left: 0;
    width: 100%; }

  footer .footer-two .gform_wrapper .gform_footer {
    margin: -72px 13% 0 0; } }
@media only screen and (max-width: 1100px) {
  header.header .menu > li {
    padding-right: 0.5rem; } }
@media only screen and (max-width: 1075px) {
  .gform_wrapper.two-column_wrapper ul.one-half.first {
    margin-bottom: 40px !important; }

  .page-template-page-donate .column5 {
    margin-top: 40px !important; }

  .page-template-page-donate .gform_wrapper .gform_footer input.button#gform_submit_button_3 {
    margin-top: 0; } }
@media only screen and (max-width: 1023px) {
  #homepage-boxes .box .inner-box h2 {
    font-size: 32px; }

  #quote-one .image-holder .image-text {
    bottom: 40%; }

  header.header .top-bar .top-bar-right {
    display: none; }

  header.header .top-bar .top-bar-right.show-for-small-only {
    display: block !important; }

  .is-accordion-submenu-parent > a, .menu-item-type-post_type a {
    font-family: 'Open Sans', sans-serif;
    color: #19105e; }

  .is-accordion-submenu-parent > a:after {
    border-color: #19105e transparent transparent; }

  #homepage-carousel .slide-holder .slide-box {
    padding: 20px 0; }

  #homepage-carousel .slide-holder .slide-box h1 {
    font-size: 35px; }

  #homepage-carousel .owl-nav {
    padding: 0; }

  #video-section h3, #video-section p, #video-section a {
    text-align: left; }

  #video-section .video-blurb {
    padding-top: 0; }

  #news-twitter .button {
    float: left; }

  #quote-two .image-holder .quote-box p {
    font-size: 18px;
    line-height: 25px; }

  .twit-full {
    display: none; }

  .twit-mobile {
    display: block; } }
@media only screen and (max-width: 900px) {
  #homepage-boxes .box .inner-box h2 {
    font-size: 25px; }

  #sidebar1 {
    display: none; }

  #main {
    width: 100%; }

  #homepage-carousel .inner-box {
    padding: 0 50px; }

  #homepage-carousel .slide-holder .slide-box h1 {
    line-height: 32px; } }
@media only screen and (max-width: 840px) {
  #quote-two .image-holder .image-text {
    position: static;
    opacity: 1; }

  #quote-two .image-holder .quote-box {
    background-position: 0 20px; } }
@media only screen and (max-width: 800px) {
  footer .footer-one .medium-6, footer .footer-two .medium-6 {
    width: 100%; }

  footer .footer-one, footer .footer-two {
    text-align: center; }

  footer .footer-one .menu {
    float: none; }

  footer .footer-one .menu li:first-child, footer .footer-one .menu li:last-child {
    display: block;
    padding: 0; }

  footer .footer-one li.twitter, footer .footer-one li.facebook, footer .footer-one li.instagram {
    display: inline-block;
    background-size: 55%;
    margin-bottom: 10px; }

  footer .footer-one .menu li {
    margin-right: 0; }

  footer .footer-one .menu li:last-child a.button {
    width: 108px; }

  footer .footer-two li {
    display: block; }

  footer .footer-two #gform_2 .gform_body {
    width: 100%; }

  footer .footer-two .gform_wrapper .left_label input.medium, footer .footer-two .gform_wrapper .left_label li.field_sublabel_below .gfield_label {
    width: 75%;
    margin-left: 5%; }

  footer .footer-two .button {
    width: 100%;
    margin-right: 5%;
    margin-top: 10px; }

  footer .footer-two .gform_wrapper .gform_footer {
    margin-right: 0; }

  .page-id-5082 #inner-content .gform_wrapper .left_label input.medium {
    width: 89% !important; }

  .page-id-5082 #inner-content .gform_wrapper .gform_footer input.button {
    float: right;
    margin-right: 0; } }
@media only screen and (max-width: 650px) {
  #inner-content a.scrolling {
    display: block;
    margin-bottom: 20px; }
  .page-template-page-donate .mobile-hide {
    display: none;
  }
 }
@media only screen and (max-width: 639px) {
  #homepage-boxes .box {
    margin-bottom: 20px !important;
    margin: 0 auto; }

  #quote-one .image-holder .image-text img {
    width: 5%; }

  #quote-one .image-holder .image-text {
    bottom: 12%; }

  #quote-one .image-holder .image-text p {
    font-size: 17px;
    line-height: 28px;
    width: 100%; }

  #quote-two .image-holder .quote-box {
    width: 100%; }

  #quote-two .image-holder .image-text {
    bottom: 3%; }

  #quote-two .image-holder .quote-box p {
    font-size: 18px;
    line-height: 23px; }

  #inner-content .image-column img {
    margin-bottom: 15px; }

  #inner-content .image-column {
    padding-left: .9375rem; }

  img.alignright, img.alignleft {
    float: none;
    width: 100%;
    height: auto; }

  .top-bar .top-bar-right {
    width: auto; }

  .top-bar .top-bar-left {
    width: 78%; }

  footer .footer-one .menu li:last-child a.button {
    margin: 0 auto; } }
@media only screen and (max-width: 600px) {
  #homepage-carousel {
    background: #fff; }

  #homepage-carousel .slide-holder .slide-box {
    position: static; }

  #homepage-carousel .slide-holder .slide-box li {
    display: inline-block;
    width: 100%; }

  #homepage-carousel .slide-holder .slide-box li.two {
    text-align: left;
    width: 100%; }

  #homepage-carousel .slide-holder .slide-box h1 {
    font-size: 25px;
    line-height: 25px; }

  #homepage-carousel .inner-box {
    padding: 0; }

  #homepage-carousel .owl-nav {
    bottom: 60%; }

  #news-twitter .gform_wrapper .left_label input.medium {
    width: 80% !important; }

  #news-twitter .button {
    float: right; }

  .hero-image .hero-text h1 {
    line-height: 30px;
    font-size: 28px; } }
