/* LITERACY PARTNERS CLIENT STYLESHEET 
 * Literacy Partners may make any style changes here. They will
 * override all stylesheet changes made by BFC. This stylesheet will
 * not be tracked by version control and will not be overwritten 
 * by automatic deploys.
 *
 * Have fun, and don't hesitate to contact BFC Support if you have any questions!
 *
 */
 
/*  home page changes */

#homepage-carousel .slide-holder .slide-box {
	background: rgba(25, 16, 94, 1);
    padding: 10px 0;
    }
    
#homepage-boxes {
    padding: 80px 0;
    }
    
#homepage-boxes .box .inner-box h2 {
	font-size: 28px;
	}
	
#homepage-boxes .box .inner-box {
	background: rgba(25, 16, 94, 1);
    padding: 5px 0;
    border-radius: 0;
    }
    
#homepage-boxes .box.box-0:hover .inner-box,
#homepage-boxes .box.box-1:hover .inner-box,
#homepage-boxes .box.box-2:hover .inner-box {
    background-color: #FF15B1; 
    }
        
#homepage-boxes .box {
	border-radius: 0;
    border: .5px solid #DDD;
	}
	
/* Student quote at the bottom of the page */

#quote-two .image-holder .quote-box p.student {
    color: #19105E;
}

#quote-two .image-holder .quote-box {
    float: left;
    background: url(../../../../uploads/quote-blue.png) no-repeat 23px 0px;
    background-size: 5%;
}

/* Footer Area */

footer .footer-two ::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #534D7A;
	font-style: normal;
	}
	
footer .footer-two .gform_wrapper .left_label li.field_sublabel_below .gfield_label {
    font-family: 'mission_gothicbold';
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    width: 40%;
    padding-top: 7px;
    margin-right: 0px;
    margin-left: 0px;
}

footer .footer-two .gform_wrapper .gform_footer input.button, 
.gform_wrapper .gform_footer input[type=submit] {
	margin-top: 8px;
	}
	
footer .footer-two .gform_wrapper .gform_footer {
	margin-right: -40px;
	}
	
footer .footer-two {
    background: #19105E;
    padding: 10px 0;
}

/* The aligns the baselines of the two sets of text in the footer */
footer .footer-two .menu {
	margin-top: 1px;
	}

.footer-two .credit img {
    position: relative;
    top: -7px;
    width: 36px;
    height: auto;
}

footer .footer-one li.instagram {
    background: url(../../../../uploads/footer-insta-new.png) no-repeat 0 0;
    height: 40px;
    width: 40px;
    background-size: 43%;
    position: relative;
    top: 7px;
    padding-right: 30px;
}

footer .footer-one li.youtube {
	background: url(../../../../uploads/footer-youtube.png) no-repeat 0 0;
	height: 40px;
	width: 40px;
	background-size: 90%;
    position: relative;
    top: 7px;
}


footer .footer-one .large-6 {
	padding-right: 7px;
	}
	
footer .footer-two .gform_wrapper form ul.gform_fields.left_label li.gfield {
	margin-top: 0px;
	}
	
/* Partners Page Template */

.page-template-page-our-partners h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #19105e;
	font-size: 21px;
	padding-bottom: 70px;
	width: 85%; 
}

.page-template-page-our-partners h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #19105e;
	font-size: 20px;
	margin-bottom: 15px; 
}
  
/* Our Students page  */

#inner-content.student-content blockquote p {
    font-family: 'mission_gothicbold';
    font-size: 20px;
    color: #19105e;
    padding: 6px 0;
    line-height: 35px;
    margin-bottom: 0;
}

#inner-content.student-content blockquote {
    border: 0;
    width: 30%;
    background: #fff;
    float: left;
    padding: 25px 0px 0.5rem 0 !important;
    margin: 7px 3% 7px 0;
    background: url(../../../../uploads/pullquote-connector-2.png) no-repeat top left;
    background-size: 100%;
}

      
      